{% extends "BellcomServerInfoBundle::layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
          <script src="{{ asset('bundles/bellcomserverinfo/js/viewall.js') }}" type="text/javascript"></script>
{% endblock %}
{% block title "Bellcom - Servers" %}

{% block content_header '' %}



{% block content %}
    <h1>Servers</h1>
    <div>
    <table id="highlighttable" class="tablesorter"><thead>
    <tr>
    <th class="header">Name</th>
    <th class="header">IP<br>(internal)</th>
    <th class="header">IP<br>(external)</th>
    <th class="header">Net<br>speed</th>
    <th class="header">Mem</th>
    <th class="header">Type</th>
    <th class="header">Cores</th>
    <th class="header">CPU type</th>
    <th class="header">Uptime</th>
    <th class="header">OS</th>
    <th class="header">OS<br>Release</th>
    <th class="header">Kernel</th>
    <th class="header">Arch</th>
    <th class="header">Kernel<br>Arch</th>
    <th class="header">Updates</th>
    <th class="header">Parent</th>
    <th class="header">Dom0 mem</th>
    <th class="header">IPMI IP</th>
    <th class="header">Last Update</th>
    </tr>
    </thead>
    <tbody>
    {% for server in servers %}
    <tr>
    <td><a href="https://munin.bellcom.dk/bellcom.dk/{{ server.hostname }}.bellcom.dk/index.html">{{ server.hostname }}</a></td>
    <td>{{ server.intip }}</td>
    <td>{{ server.extip }}</td>
    <td>{{ server.networkspeed }}</td>
    <td>{{ server.memory }}</td>
    <td>{{ server.isvirtual }}</td>
    <td>{{ server.cpucount }}</td>
    <td>{{ server.cpuinfo }}</td>
    <td>{{ (server.uptime / 60 / 60 / 24) | number_format(1) }} days</td>
    <td>{{ server.os }}</td>
    <td>{{ server.osrelease }}</td>
    <td>{{ server.kernelrelease }}</td>
    <td>{{ server.arch }}</td>
    <td>{{ server.kernelarch }}</td>
    <td>{{ server.softwareupdates|length }}</td>
    {% if server.parent is empty %}
    <td>N/A</td>
    {% else %}
    <td>{{ server.parent }}</td>
    {% endif %}
    {% if server.dom0freemem is empty %}
    <td>N/A</td>
    {% else %}
    <td>{{ server.dom0freemem }} / {{ server.dom0totalmem }}</td>
    {% endif %}
    {% if server.ipmiip is empty %}
    <td>N/A</td>
    {% else %}
    <td>{{ server.ipmiip }}</td>
    {% endif %}
    {# below got out of hand. The point is to get the number of hours since last update. Get the number of days since last update and add those to the number of hours #}
    <td>{{ ((("now"|date("U") - server.updated)|date("d")*24-24) + ("now"|date("U") - server.updated)|date("H")) }} hours ago</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
<!--    <p>A total of {{ servers|length }} servers in the database</p> -->
<!--    <p class="total">A total of <span>0</span> servers in the database</p> -->
{% endblock %}
